<a href="https://colab.research.google.com/github/SilahicAmil/End-to-End-Titanic/blob/main/End_to_End_Titanic_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# /content/drive/MyDrive/Titanic Classification

In [ ]:
import numpy as np
import pandas as pd
import os

for dirname, _, filenames in os.walk('/content/drive/MyDrive/Titanic Classification'):
  for filename in filenames:
    print(os.path.join(dirname, filename))

/content/drive/MyDrive/Titanic Classification/train.csv
/content/drive/MyDrive/Titanic Classification/test.csv

In [ ]:
train_data = pd.read_csv("/content/drive/MyDrive/Titanic Classification/train.csv")
train_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
test_data = pd.read_csv('/content/drive/MyDrive/Titanic Classification/test.csv')
test_data.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
# Exploring  female survival rates

women_survived = train_data.loc[train_data.Sex == 'female']["Survived"]
women_rate_survived = sum(women_survived)/len(women_survived)

print(f"% of women survived {women_rate_survived}")

% of women survived 0.7420382165605095

In [ ]:
# Exploring male survival rate

men_survived = train_data.loc[train_data.Sex == 'male']["Survived"]
men_rate_survived = sum(men_survived)/len(men_survived)

print(f"% Of men survived {men_rate_survived}")

% Of men survived 0.18890814558058924

In [ ]:
# Exploring which class surived the most

class_survival = train_data.loc[train_data.Pclass == 1]["Survived"]
total_class_survival = sum(class_survival)/len(class_survival)

print(f"% of 1st class survived: {total_class_survival}")

% of 1st class survived: 0.6296296296296297

In [ ]:
class_survival = train_data.loc[train_data.Pclass == 2]["Survived"]
total_class_survival_2 = sum(class_survival)/len(class_survival)

print(f"% of 1st class survived: {total_class_survival_2}")

% of 1st class survived: 0.47282608695652173

In [ ]:
class_survival = train_data.loc[train_data.Pclass == 3]["Survived"]
total_class_survival_3 = sum(class_survival)/len(class_survival)

print(f"% of 1st class survived: {total_class_survival_3}")

% of 1st class survived: 0.24236252545824846

In [ ]:
# Machine learning model

from sklearn.ensemble import RandomForestClassifier

# Transforming training data and features
y= train_data["Survived"]
features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

# Create Model
model = RandomForestClassifier(n_estimators=100,
                               max_depth=5,
                               random_state=42,
                               max_features=4,
                               verbose=1)
# Fit model
model.fit(X,y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.1s finished

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features=4,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=1,
                       warm_start=False)

In [ ]:
# Predicting Model
predictions = model.predict(X_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [ ]:
# Submission output
output = pd.DataFrame({"PassengerId": test_data.PassengerId, "Survived": predictions})

output.to_csv('/content/drive/MyDrive/Titanic Classification/second_submission.csv', index=False)
print("Submission Saved")

Submission Saved